{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
{# Template de la page d'accueil #}


{# hériter du layout du bundle (src/Kaiim/PlatformBundle/Resources/views/layout.html.twig) #}
{% extends "KaiimPlatformBundle::layout.html.twig" %}


{% block title %}
	Accueil - {{ parent() }}
{% endblock %}


{% block ocplatform_body %}

	<h2>Liste des annonces</h2>

	<ul>
		{% for advert in listAdverts %}
			<li>
				<a href="{{ path('kaiim_platform_view', {'id': advert.id}) }}"> {{ advert.title }} </a>
				par {{ advert.author }},
				le {{ advert.date|date('d/m/Y') }}
			</li>
		{% else %}
			<li>Pas (encore !) d'annonces</li>
		{% endfor %}
	</ul>
	
{% endblock %}